// $globalText: rgb(34, 35, 37);
$globalText: #252727;
$globalBack: white;

$dark07: rgba($globalText, 0.07);
$dark80: rgba($globalText, 0.8);

// $radialBack: radial-gradient(farthest-corner at 65vw 35vh, #fbfcfd 0%, #fbfcfd 20%, #f2f5f5 100%);
$radialBack: radial-gradient(farthest-corner at 65vw 35vh, #fbfcfd 0%, #fbfcfd 20%, #e8eded 100%);

$darkButtonText: white;
$darkButtonBack: $globalText;
// $darkButtonBackHover: rgb(62, 67, 68);
$darkButtonBackHover: rgb(73, 78, 80);
// $darkButtonBackActive: #777;

$flourishBack: rgba(#a0a8b9, 0.35);
