// $globalText: rgb(34, 35, 37);
// $globalText: #25292b;
// $globalText: #282e31;
$globalText: #2d363a;
$globalBack: white;

$dark05: rgba($globalText, 0.045);
$dark07: rgba($globalText, 0.065);
$dark40: rgba($globalText, 0.4);
$dark50: rgba($globalText, 0.5);
$dark60: rgba($globalText, 0.6);
$dark80: rgba($globalText, 0.8);

$dark20Opaque: lighten($globalText, 65.5);
$dark25Opaque: lighten($globalText, 64);

// $radialBack: radial-gradient(farthest-corner at 65vw 35vh, #fbfcfd 0%, #fbfcfd 20%, #f2f5f5 100%);
$radialBack: radial-gradient(farthest-corner at 65vw 35vh, #fdfeff 0%, #fbfcfd 18%, #e6ecec 100%);

$darkButtonText: white;
$darkButtonBack: $globalText;
// $darkButtonBackHover: rgb(62, 67, 68);
// $darkButtonBackHover: rgb(73, 78, 80);
$darkButtonBackHover: rgb(74, 83, 87);
// $darkButtonBackActive: #777;

$minorButtonBack: $dark07;
$minorButtonBackHover: $dark20Opaque;

$searchBackHover: rgba($globalText, 0.04);

$flourishBack: rgba(#a9aeb6, 0.35);
$mediumFlourishBack: rgba(#a9aeb6, 0.24);
$searchFlourishBack: rgba(#222, 0.06);
