@import 'colors';

.albumArtPlaceholder {
    background: rgba($globalText, 0.1);
    width: 59px;
    height: 59px;
}

div#trackTable {
    width: 100%;

    font-size: 15.5px;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: 1;

    display: flex;
    flex-direction: column;
    position: relative;
    overflow: visible;

    ._head {
        display: flex;
        flex: 0 0 auto;
        color: black;
        border-bottom: 2px solid rgba($globalText, 0.15);
        padding: 0 5px;
        font-size: 14px;
        font-weight: 500;
    }
    ._headRow {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        justify-content: space-between;
    }
    ._headRowItem {
        display: flex;
        align-items: center;
        justify-content: normal;
        height: 46px;
        padding: 0 7.5px 0 7.5px;
        color: $dark50;
    }

    ._headRowItem._sortable {
        ._sortButton {
            color: $dark40;
            font-size: 16px;
            padding: 0 2.5px;
            opacity: 0;
        }
        &:hover {
            ._sortButton {
                opacity: 1;
            }
        }
        ._sortButton:hover {
            color: $dark60;
        }

        ._sortButton._asc,
        ._sortButton._asc:hover,
        ._sortButton._desc,
        ._sortButton._desc:hover {
            opacity: 1;
            color: $globalText;
        }
    }

    ._headRowItem._filterable {
        ._filterButton {
            color: $dark40;
            font-size: 16px;
            padding: 0 2.5px;
            opacity: 0;
        }
        &:hover {
            ._filterButton {
                opacity: 1;
            }
        }
        ._filterButton:hover {
            color: $dark60;
        }

        ._filterButton._filtering,
        ._filterButton._filtering:hover {
            opacity: 1;
            color: $globalText;
        }
    }

    ._body {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow-x: auto;
        padding: 0 5px;
    }
    ._bodyRow {
        display: flex;
        flex: 0 0 auto;
        border-bottom: 1px solid rgba($globalText, 0.1);
        &:hover:not(:active) {
            background: $dark05;
        }
    }
    ._bodyRowItem {
        display: flex;
        height: 59px;
        align-items: center;
        justify-content: flex-start;
        padding: 0 7.5px 0 7.5px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    ._albumArt {
        position: relative;
        width: 59px;
        height: 59px;
        img {
            width: 100%;
            height: 100%;
        }
        cursor: crosshair;
    }

    #_cursorAlbumArt {
        position: fixed;
        z-index: 1000;
        img:first-child {
            width: 300px;
            height: 300px;
        }
    }

    // Special

    ._favoriteButton {
        font-size: 24px;
        color: $dark50;
    }
}

// —————————————————
// Modal

.modalWrapper {
    // color: green;
    display: flex;
    align-items: center;
    justify-content: center;

    &:focus {
        outline: none;
    }

    .modalBase {
        position: relative;

        background: rgba(white, 0.92);
        padding: 60px 45px;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 450px;
        width: 35%;
        min-height: 55%;

        &:focus {
            outline: none;
        }
    }

    span._category {
        font-size: 14.75px;
        font-weight: 500px;
        margin-bottom: 17.5px;
    }

    ._tagList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        & > div {
            cursor: pointer;
            background: $dark07;
            color: $dark80;
            font-size: 13.5px;
            border-radius: 3px;
            font-weight: 500;
            padding: 2.5px 10px;
            display: inline-flex;
            margin: 3px;

            &:hover:not(:active) {
                background: $dark20Opaque;
            }
        }
    }
}
