@import 'colors';

.albumArtPlaceholder {
    background: rgba($globalText, 0.1);
    width: 59px;
    height: 59px;
}

div#trackTable {
    width: 100%;

    font-size: 15.5px;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: 1;

    display: flex;
    flex-direction: column;
    position: relative;
    overflow: visible;

    ._head {
        display: flex;
        flex: 0 0 auto;
        color: black;
        border-bottom: 2px solid rgba($globalText, 0.15);
        padding: 0 5px;
        font-size: 14px;
        font-weight: 500;
    }
    ._headRow {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        justify-content: space-between;
    }
    ._headRowItem {
        display: flex;
        align-items: center;
        justify-content: normal;
        height: 46px;
        padding: 0 7.5px 0 7.5px;
        color: $dark50;
    }

    ._headRowItem._sortable {
        ._sortButton {
            color: $dark40;
            font-size: 16px;
            padding: 0 2.5px;
            opacity: 0;
        }
        &:hover {
            ._sortButton {
                opacity: 1;
            }
        }
        ._sortButton:hover {
            color: $dark60;
        }

        ._sortButton._asc,
        ._sortButton._asc:hover,
        ._sortButton._desc,
        ._sortButton._desc:hover {
            opacity: 1;
            color: $globalText;
        }
    }

    ._headRowItem._filterable {
        ._filterButton {
            color: $dark40;
            font-size: 16px;
            padding: 0 2.5px;
            opacity: 0;
        }
        &:hover {
            ._filterButton {
                opacity: 1;
            }
        }
    }

    ._body {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow-x: auto;
        padding: 0 5px;
    }
    ._bodyRow {
        display: flex;
        flex: 0 0 auto;
        border-bottom: 1px solid rgba($globalText, 0.1);
        &:hover:not(:active) {
            background: $dark05;
        }
    }
    ._bodyRowItem {
        display: flex;
        height: 59px;
        align-items: center;
        justify-content: flex-start;
        padding: 0 7.5px 0 7.5px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    // Special

    ._favoriteButton {
        font-size: 24px;
        color: $dark50;
    }
}
